body {
  background-image: url("https://www.cesargutierrez.es/mrtristeful.com/images/fondo-acudits.webp");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  @media screen and (max-width: 790px) {
    body {
      height: auto;
      overflow-y: auto;
    }
  }
}
header {
  display: flex;
  justify-content: start;
  align-items: center;
}
header p {
  margin-top: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.card {
  border-radius: 1rem;
  min-height: 50vh;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  margin: 1rem 0 1rem 0;
}

.card-body p {
  padding: 2rem 0 2rem 0;
}
.btn {
  margin: 1rem;
}
